$color_blue : blue;
$color_yellow : yellow;
$font : Poppins, Arial;
$color_background : black;
$primary : #0d6efd;
$secondary : #5c636a;

body{
    text-align: center;
    
}
.app{
    top: 0;
    bottom: 0;
    position:fixed;
    left: 0;
    right: 0;
    background-color: white;
    &.dark {
		background-color: #282c35;
    }
}
#loading{
    z-index: 1;
    background: white;
    opacity: 70%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    display: grid;
    visibility: hidden;
}

#spinner{
    margin: auto;
    width: 5em;
    height: 5em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
    transition: background-color 5000s ease-in-out 0s;

}
