.canvas{
        height: 85%;
        .styled-table tbody tr:nth-of-type(even) {
                background-color: #f3f3f3;
        }
        &.dark{
                background-color: #282c35;
                color: #fff;
                td{
                        color: white;
                }
                .tableHoraires tbody tr:nth-of-type(even) {
                        background-color: #5d677e;
                }
        }
}

#tableHoraires{
        border: 1;
}
.tableHoraires thead tr {
        background-color: #5c636a;
        color: #ffffff;
        text-align: left;
}

.tableHoraires th,
.tableHoraires td {
        padding: 12px 15px;
}

.tableHoraires tbody tr {
        border-bottom: 1px solid #dddddd;
}

.tableHoraires tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
}

table, tr, td {
        border: 1px solid black;
}
