.listEssence {
    #ouvert {
        color: green;
    }

    #ferme {
        color: red
    }

    #indisponible {
        color: purple;
    }

    #table {
        display: none;
    }

    .styled-table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }

    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .styled-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }

    #favoriStar:hover {
        cursor: pointer;
    }

    &.dark{
        background-color: #282c35;
        color: #fff;
        td{
            color: white;
        }
        .styled-table tbody tr:nth-of-type(even) {
            background-color: #5d677e;
        }
    }
    // &.light{
    //     .styled-table tbody tr:nth-of-type(even) {
    //         background-color: #f3f3f3;
    //     }
    // }
}

