.Home{
    .researchSettings{
        width: 400px;
        height: 500px;
        float: left;
        overflow: auto;
        margin-left: 10px;
        margin-right: 10px;
    }
    .target{
        width: 40px;
        margin-top: -65px;
        margin-left: 100%;
    }
    .me-2{
        float: left;
    }
    &.dark {
		background-color: #282c35;
		color: #fff;
        td{
            color: white;
        }
        .styled-table tbody tr:nth-of-type(even) {
            background-color: #5d677e;
        }
	}
    &.light{
        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }
    }
}