.Home{
    position: absolute;
    width: 100%;
    height: 100%;
    .researchSettings{
        
        max-height: 500px;
        overflow: scroll;
        float: left;
        overflow: auto;
        margin-left: 10px;
    }
    .target{
        width: 40px;
        margin-top: -65px;
        margin-left: 90%;
    }
    .btn-group{
        display: inline;
        margin: 0px;
    }

    .btn {
        padding: 1%;
    }
    &.dark {
		background-color: #282c35;
		color: #fff;
	}
}